@media only screen and (max-width: 1024px) {
    .header-navigation {
      margin-left: 150px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .aside-container {
      flex-direction: column;
      margin-left: 30px;
    }
    .aside-wrapper {
      width: 100%;
      margin-left: 0;
      padding: 10px;
    }
    .image-aside-section {
      display: none;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .header-navigation {
      margin-left: 30px;
    }
    .header-list {
      margin-right: 30px;
    }
    .header-list:last-child {
      margin-left: auto;
    }
    .aside-section {
      margin-left: 10px;
    }
    .ads-wrapper {
      margin-left: 10px;
    }
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    .footer-navigation {
      justify-content: center;
    }
    .footer-content {
      margin-top: 20px;
      gap: 20px;
    }
    .right-footer-list {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .footer-line {
      margin-left: 10px;
      width: 90%;
      top: 30px;
    }
  }
  